body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
.todo-container ul {
    margin: 0;
    padding: 0;
}

    /* Style the list items */
.todo-container ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

        /* Set all odd list items to a different color (zebra-stripes) */
.todo-container ul li:nth-child(odd) {
    background: #f9f9f9;
}

        /* Darker background-color on hover */
.todo-container ul li:hover {
    background: #ddd;
}

        /* When clicked on, add a background color and strike out text */
.todo-container ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

            /* Add a "checked" mark when clicked on */
.todo-container ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.todo-container .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

    .todo-container .close:hover {
        background-color: #f44336;
        color: white;
    }

/* Style the header */
.todo-container .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

    /* Clear floats after the header */
    .todo-container .header:after {
        content: "";
        display: table;
        clear: both;
    }

/* Style the input */
.todo-container input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    color: black;
}

/* Style the "Add" button */
.todo-container .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

    .todo-container .addBtn:hover {
        background-color: #bbb;
    }
