@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Minsk<br />
    Zetkin street 51a<br />
    <abbr title="Phone">P:</abbr>
    7777777
</address>

<address>
    <strong>Support:</strong> <a href="vadimpopyol@coherentsolutions.com">vadimpopyol@coherentsolutions.com</a><br />    
</address>
